# 파일 읽기

In [38]:
with open('abc/text.txt', 'w') as f:
    f.write('hello')

In [39]:
f = open('abc/text.txt', 'r')
f.read()
f.close()  # 반드시 해줘야함.

In [40]:
with open("abc/text1.txt", "w", encoding="utf-8") as f:
    f.write("안녕하세요\n")
    f.write('졸리네요\n')

In [41]:
with open("abc/text1.txt", "r", encoding="utf-8") as f:
    txtfile = f.read()
    print(txtfile)

안녕하세요
졸리네요

In [42]:
with open("abc/text1.txt", "a", encoding="utf-8") as f:
    f.write('추가된 내용~~\n')

In [43]:
with open("abc/text1.txt", "r", encoding="utf-8") as f:
    txtfile = f.read()
    print(txtfile)

안녕하세요
졸리네요
추가된 내용~~

In [44]:
with open("abc/text2.txt", "w", encoding="utf-8") as f:
    f.write('반복문을 사용하여 파일에 데이터 저장')

In [45]:
with open("abc/text2.txt", "r", encoding="utf-8") as f:
    txtfile = f.read()
    print(txtfile)

반복문을 사용하여 파일에 데이터 저장

In [48]:
lines = [
    "Python 파일 입출력\n",
    "반복문을 사용하여 데이터를 저장합니다.\n",
    "데이터 처리가 편리합니다.\n"
]

with open("abc/text3.txt", "w", encoding="utf-8") as f:
    for line in lines:
        f.write(line)

In [49]:
lines = ["첫 번째 줄입니다.\n", "두 번째 줄입니다.\n", "세 번째 줄입니다.\n"]

with open('abc/text4.txt', 'w') as f:
    f.writelines(lines)

In [50]:
with open("abc/text4.txt", "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

In [51]:
with open("abc/text4.txt", "r", encoding="utf-8") as file:
    line = file.readline()
    print(line)

첫 번째 줄입니다.

In [53]:
with open("abc/text4.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()
print(lines)
for line in lines:
    print(line.strip())

['첫 번째 줄입니다.\n', '두 번째 줄입니다.\n', '세 번째 줄입니다.\n']
첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

# 피클, 직렬화/역직렬화

In [54]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f: # wb 바이너리 형식으로 쓰기
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [56]:
import json

In [57]:
with open('abc/data.json', 'w') as f:
    json.dump(data,f)

In [58]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)
print(loaded_data)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [59]:
import csv

In [72]:
data = [['name', 'age'], ['bob',20], ['alice', 15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [73]:
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerow(data)

In [83]:
import pandas as pd
data = [['name', 'age'], ['bob', 20], ['alice', 15]]
df = pd.DataFrame(data[1:], columns=data[0])
df

    name  age
0    bob   20
1  alice   15

In [86]:
import pandas as pd

#df = pd.DataFrame(data)
df.to_csv('abc/data_df.csv',index=False)

In [87]:
pd.read_csv('abc/data_df.csv')

    name  age
0    bob   20
1  alice   15