# pymysql ÌÖåÏä§Ìä∏

In [ ]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymysql

In [ ]:
# MySQL ÏÑúÎ≤ÑÏóê Ïó∞Í≤∞
con = pymysql.connect(host='localhost', user='root', password='1234',  db='my_db',
 charset='utf8') # ÌïúÍ∏ÄÏ≤òÎ¶¨ (charset = 'utf8‚Äô)
# Ïª§ÏÑú ÏÉùÏÑ±
cursor = con.cursor()

In [15]:
sql_query = """SELECT ENAME, SAL, JOB
FROM emp;
"""
cursor.execute(sql_query)

# ÏøºÎ¶¨ Í≤∞Í≥º Í∞ÄÏ†∏Ïò§Í∏∞
result = cursor.fetchall()
result

(('SMITH', Decimal('800.00'), 'CLERK'),
 ('ALLEN', Decimal('1600.00'), 'SALESMAN'),
 ('WARD', Decimal('1250.00'), 'SALESMAN'),
 ('JONES', Decimal('2975.00'), 'MANAGER'),
 ('MARTIN', Decimal('1250.00'), 'SALESMAN'),
 ('BLAKE', Decimal('2850.00'), 'MANAGER'),
 ('CLARK', Decimal('2450.00'), 'MANAGER'),
 ('SCOTT', Decimal('3000.00'), 'ANALYST'),
 ('KING', Decimal('5000.00'), 'PRESIDENT'),
 ('TURNER', Decimal('1500.00'), 'SALESMAN'),
 ('ADAMS', Decimal('1100.00'), 'CLERK'),
 ('JAMES', Decimal('950.00'), 'CLERK'),
 ('FORD', Decimal('3000.00'), 'ANALYST'),
 ('MILLER', Decimal('1300.00'), 'CLERK'))

In [16]:
# Í≤∞Í≥º Ï∂úÎ†•
for row in result:
    print(row)

('SMITH', Decimal('800.00'), 'CLERK')
('ALLEN', Decimal('1600.00'), 'SALESMAN')
('WARD', Decimal('1250.00'), 'SALESMAN')
('JONES', Decimal('2975.00'), 'MANAGER')
('MARTIN', Decimal('1250.00'), 'SALESMAN')
('BLAKE', Decimal('2850.00'), 'MANAGER')
('CLARK', Decimal('2450.00'), 'MANAGER')
('SCOTT', Decimal('3000.00'), 'ANALYST')
('KING', Decimal('5000.00'), 'PRESIDENT')
('TURNER', Decimal('1500.00'), 'SALESMAN')
('ADAMS', Decimal('1100.00'), 'CLERK')
('JAMES', Decimal('950.00'), 'CLERK')
('FORD', Decimal('3000.00'), 'ANALYST')
('MILLER', Decimal('1300.00'), 'CLERK')

In [17]:
import pandas as pd
pd.DataFrame(result)

         0        1          2
0    SMITH   800.00      CLERK
1    ALLEN  1600.00   SALESMAN
2     WARD  1250.00   SALESMAN
3    JONES  2975.00    MANAGER
4   MARTIN  1250.00   SALESMAN
5    BLAKE  2850.00    MANAGER
6    CLARK  2450.00    MANAGER
7    SCOTT  3000.00    ANALYST
8     KING  5000.00  PRESIDENT
9   TURNER  1500.00   SALESMAN
10   ADAMS  1100.00      CLERK
11   JAMES   950.00      CLERK
12    FORD  3000.00    ANALYST
13  MILLER  1300.00      CLERK

In [18]:
# Ïó∞Í≤∞Í≥º Ïª§ÏÑú Îã´Í∏∞
cursor.close()
con.close()

# MySQLdb ÌÖåÏä§Ìä∏

In [ ]:
# pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl (208 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import MySQLdb
# MySQL ÏÑúÎ≤ÑÏóê Ïó∞Í≤∞ Ï†ïÎ≥¥
db_config = {
'host' :'localhost',  # Ìò∏Ïä§Ìä∏ Ïù¥Î¶Ñ
'user' : 'root', # MySQL ÏÇ¨Ïö©Ïûê Ïù¥Î¶Ñ
'passwd' : '1234', # MySQL ÏÇ¨Ïö©Ïûê ÎπÑÎ∞ÄÎ≤àÌò∏
'db' : 'my_db', # Ïó∞Í≤∞Ìï† Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïù¥Î¶Ñ
'charset' : 'utf8'
}

In [23]:
try:
    conn = MySQLdb.connect(**db_config) # Ïª§ÏÑú ÏÉùÏÑ±
    cursor = conn.cursor() # ÏøºÎ¶¨ Ïã§Ìñâ ÏòàÏãú
    sql_query = "SELECT * FROM dept"
    cursor.execute(sql_query) # ÏøºÎ¶¨ Í≤∞Í≥º Í∞ÄÏ†∏Ïò§Í∏∞
    result = cursor.fetchall() # Í≤∞Í≥º Ï∂úÎ†•
    for row in result:
        print(row)
except MySQLdb.Error as e:
    print(f"Error: {e}")
finally: # Ïó∞Í≤∞Í≥º Ïª§ÏÑú Îã´Í∏∞
    cursor.close()
    conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

# mysql.connector

In [24]:
import mysql.connector
# MySQL ÏÑúÎ≤ÑÏóê Ïó∞Í≤∞

conn = mysql.connector.connect(
 host='localhost', # Ìò∏Ïä§Ìä∏ Ïù¥Î¶Ñ
 user='root', # MySQL ÏÇ¨Ïö©Ïûê Ïù¥Î¶Ñ
 password='1234', # MySQL ÏÇ¨Ïö©Ïûê ÎπÑÎ∞ÄÎ≤àÌò∏
 database='my_db' # Ïó∞Í≤∞Ìï† Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïù¥Î¶Ñ
)
# Ïª§ÏÑú ÏÉùÏÑ±
cursor = conn.cursor()
# ÏøºÎ¶¨ Ïã§Ìñâ ÏòàÏãú
sql_query = "SELECT * FROM dept"
cursor.execute(sql_query)
# ÏøºÎ¶¨ Í≤∞Í≥º Í∞ÄÏ†∏Ïò§Í∏∞
result = cursor.fetchall()
# Í≤∞Í≥º Ï∂úÎ†•
for row in result:
 print(row)
# Ïó∞Í≤∞Í≥º Ïª§ÏÑú Îã´Í∏∞
cursor.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

# SQLAlchemy (ORM Í∏∞Î∞ò)

In [25]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\miniconda3\envs\anal_env\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 19.7 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp312-cp312-win_amd64.whl (297 kB)
Installing collected packages: greenlet, sqlalchemy

   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Ïó∞Í≤∞ ÌôïÏù∏
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:1234@localhost/my_db")
engine

Engine(mysql+pymysql://root:***@localhost/my_db)

In [29]:
df = pd.read_sql("SHOW TABLES IN my_db;", engine)
df.head()

  Tables_in_my_db
0            dept
1             emp
2        salgrade

In [30]:
tables = pd.read_sql("SELECT * FROM dept", engine)
print(df)
tables.head()

  Tables_in_my_db
0            dept
1             emp
2        salgrade

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [31]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [32]:
# ORM Í∏∞Î≥∏ ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±
Base = declarative_base()

C:\Users\Admin\AppData\Local\Temp\ipykernel_2004\2681860153.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [33]:
# products ÌÖåÏù¥Î∏î Ï†ïÏùò
class Product(Base):
    __tablename__ = 'products'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    price = Column(Integer, nullable=False)
    stock = Column(Integer, nullable=False)

    def __repr__(self):
        return f"<Product(id={self.id}, name='{self.name}', price={self.price}, stock={self.stock})>"

In [34]:
# ÌÖåÏù¥Î∏î ÏÉùÏÑ±
Base.metadata.create_all(engine)

In [ ]:
# ÏÑ∏ÏÖò ÏÑ§Ï†ï
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
# CREATE: ÏÉÅÌíà Îì±Î°ù
def add_product(name, price, stock):
    new_product = Product(name=name, price=price, stock=stock)
    session.add(new_product) # insert
    session.commit() # commitÌï¥Ïïº Îç∞Ïù¥ÌÑ∞ Îì§Ïñ¥Í∞ê
    print(f"üÜï '{name}' ÏÉÅÌíàÏù¥ Îì±Î°ùÎêòÏóàÏäµÎãàÎã§!")


add_product("Î°§Î¶¨Ìåù", 500, 10)
add_product("Ìï´Ï¥àÏΩî", 2000, 10)

üÜï 'Î°§Î¶¨Ìåù' ÏÉÅÌíàÏù¥ Îì±Î°ùÎêòÏóàÏäµÎãàÎã§!
üÜï 'Ìï´Ï¥àÏΩî' ÏÉÅÌíàÏù¥ Îì±Î°ùÎêòÏóàÏäµÎãàÎã§!

In [ ]:
# READ: ÏÉÅÌíà Ï°∞Ìöå
def list_products():
    products = session.query(Product).all() # select
    for p in products:
        print(p)

list_products()

<Product(id=1, name='Î°§Î¶¨Ìåù', price=500, stock=10)>
<Product(id=2, name='Ìï´Ï¥àÏΩî', price=2000, stock=10)>

In [ ]:
# UPDATE: Í∞ÄÍ≤© ÏàòÏ†ï
def update_price(product_id, new_price):
    product = session.query(Product).get(product_id)
    if product:
        product.price = new_price # update
        session.commit()
        print(f"üí∏ {product.name}Ïùò Í∞ÄÍ≤©Ïù¥ {new_price}ÏõêÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.")
    else:
        print("‚ùå Ìï¥Îãπ ÏÉÅÌíàÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.")

update_price(2, 3000)

üí∏ Ìï´Ï¥àÏΩîÏùò Í∞ÄÍ≤©Ïù¥ 3000ÏõêÏúºÎ°ú Î≥ÄÍ≤ΩÎêòÏóàÏäµÎãàÎã§.

C:\Users\Admin\AppData\Local\Temp\ipykernel_2004\4289321564.py:2: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(product_id)

In [ ]:
# DELETE: ÏÉÅÌíà ÏÇ≠Ï†ú
def delete_product(product_id):
    product = session.query(Product).get(product_id)
    if product:
        session.delete(product) # delete
        session.commit()
        print(f"üóëÔ∏è '{product.name}' ÏÉÅÌíàÏù¥ ÏÇ≠Ï†úÎêòÏóàÏäµÎãàÎã§.")
    else:
        print("‚ùå Ìï¥Îãπ ÏÉÅÌíàÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.")
        
delete_product(3)

‚ùå Ìï¥Îãπ ÏÉÅÌíàÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.

C:\Users\Admin\AppData\Local\Temp\ipykernel_2004\1015505775.py:2: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(product_id)

In [40]:
# ÏÑ∏ÏÖòÏùò Î∞òÎÇ©
try:
    # ÏûëÏóÖ
    product = session.query(Product).get(1)
    product.price += 500
    session.commit()
except Exception as e:
    session.rollback()
    print("ÏòàÏô∏ Î∞úÏÉù, Î°§Î∞±:", e)
finally:
    session.close()
    print("ÏÑ∏ÏÖò Ï¢ÖÎ£å")

ÏÑ∏ÏÖò Ï¢ÖÎ£å

C:\Users\Admin\AppData\Local\Temp\ipykernel_2004\1924863495.py:4: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  product = session.query(Product).get(1)