# 자료형 비교

| 항목       | 리스트 `[]`  | 딕셔너리 `{}`      | 튜플 `()`     | 세트 `set()`         
| -------- | --------- | -------------- | ----------- | ------------------- |
| 변경 가능성   | ✅ mutable | ✅ mutable      | ❌ immutable | ✅ mutable (내용)   |
| 구분 기호    | `[]`      | `{key: value}` | `()`        | `{값, 값}` 또는 `set()` |
| 순서       | ✅ 있음      | ✅ 있음 (3.7 이후)  | ✅ 있음        | ❌ 없음 (정렬 안 됨)       |
| 중복 허용    | ✅ 허용      | ❌ 키 중복 불가      | ✅ 허용        | ❌ 허용 안 함            |
| 인덱싱/슬라이싱 | ✅ 가능      | ❌ 키로 접근        | ✅ 가능        | ❌ 불가능               |
| 주요 용도    | 순차적 자료 보관 | 키-값 쌍 저장       | 고정된 값 묶음    | 집합 연산, 중복 제거        |

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [1]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]
numbers[0] + numbers[-1]

110

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [2]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
colors[:3], colors[-2:]

(['red', 'green', 'blue'], ['orange', 'black'])

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

In [3]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

list_a[2][1]

'korean'

In [4]:
for sub in list_a:
    for item in sub:
        # print(item)
        if item == 'korean':
            print(item)

korean

4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요

In [5]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b
list_c

[1, 2, 3, 4, 5, 6]

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [6]:
tuple_a = ("apple", "banana", "cherry")
list_a = list(tuple_a)
list_a[1] = "blueberry"
tuple(list_a)

('apple', 'blueberry', 'cherry')

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [7]:
a = 5
b = 10
c = 15
tuple_a = a,b,c
tuple_a

(5, 10, 15)

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [8]:
numbers = (92, 89, 72, 31, 71, 33, 19)
max(numbers), min(numbers)

(92, 19)

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
name: "Alice"
age: 24
major: "Computer Science"

In [9]:
student = {}
student["name"] = "Alice"
student["age"] = 24
student["major"] = "Computer Science"
student

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

In [10]:
dir(student)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
student.items()

dict_items([('name', 'Alice'), ('age', 24), ('major', 'Computer Science')])

In [12]:
for k,v in student.items():
    print(f'{k}:{v}')

name:Alice
age:24
major:Computer Science

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [13]:
student['age'] = 26
student

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [14]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
name_list = []
name_list
for student in students.values():
    name_list.append(student['name'])
name_list

['Alice', 'Bob', 'Charlie']

In [15]:
age_list = []
age_list
for student in students.values():
    age_list.append(student['age'])
tuple(age_list)

(24, 22, 23)

In [16]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
name_list = []
age_list = []
for key in students.keys():
    stu = students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])
age_tuple = tuple(age_list)
name_list, age_tuple

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))

In [17]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
name_list = []
age_list = []
for stu in students.values():
    name_list.append(stu['name'])
    age_list.append(stu['age'])
age_tuple = tuple(age_list)
name_list, age_tuple

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))