서울시 지하철호선별 역별 승하차 인원 정보
총 19139 건의 데이터

In [3]:
# 데이터 불러오기
import pandas as pd

df = pd.read_csv("../data/CARD_SUBWAY_MONTH_202505.csv", index_col=False)  # 파일명은 상황에 맞게 수정

# 기본 정보 확인
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19139 entries, 0 to 19138
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    19139 non-null  int64
 1   노선명     19139 non-null  object
 2   역명      19139 non-null  object
 3   승차총승객수  19139 non-null  int64
 4   하차총승객수  19139 non-null  int64
 5   등록일자    19139 non-null  int64
dtypes: int64(4), object(2)
memory usage: 897.3+ KB

       사용일자  노선명  역명  승차총승객수  하차총승객수      등록일자
0  20250501  분당선  야탑   17571   18765  20250504
1  20250501  8호선  석촌    6970    8042  20250504
2  20250501  분당선  서현   16548   17173  20250504
3  20250501  경부선  독산    8851    8507  20250504
4  20250501  경부선  수원   35103   38426  20250504

In [7]:
df['사용일자'] = pd.to_datetime(df['사용일자'], format='%Y%m%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19139 entries, 0 to 19138
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    19139 non-null  datetime64[ns]
 1   노선명     19139 non-null  object
 2   역명      19139 non-null  object
 3   승차총승객수  19139 non-null  int64
 4   하차총승객수  19139 non-null  int64
 5   등록일자    19139 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 897.3+ KB

In [11]:
요일_매핑 = {
    'Monday': '월', 'Tuesday': '화', 'Wednesday': '수',
    'Thursday': '목', 'Friday': '금', 'Saturday': '토', 'Sunday': '일'
}
df['요일'] = df['사용일자'].dt.day_name().map(요일_매핑)
요일별_데이터 = {요일: group.reset_index(drop=True) for 요일, group in df.groupby('요일')}
print(요일별_데이터['화'].head())

        사용일자  노선명  역명  승차총승객수  하차총승객수      등록일자 요일
0 2025-05-06  경인선  인천    5642    4676  20250509  화
1 2025-05-06  경인선  구일    9855   11039  20250509  화
2 2025-05-06  경인선  소사    4987    4769  20250509  화
3 2025-05-06  경인선  부개    5614    5233  20250509  화
4 2025-05-06  경인선  간석    3942    3660  20250509  화

In [12]:
df.head()

        사용일자  노선명  역명  승차총승객수  하차총승객수      등록일자 요일
0 2025-05-01  분당선  야탑   17571   18765  20250504  목
1 2025-05-01  8호선  석촌    6970    8042  20250504  목
2 2025-05-01  분당선  서현   16548   17173  20250504  목
3 2025-05-01  경부선  독산    8851    8507  20250504  목
4 2025-05-01  경부선  수원   35103   38426  20250504  목

In [31]:
# 요일별-역명별 승하차 합계 계산
grouped = df.groupby(['요일', '역명'])[['승차총승객수', '하차총승객수']].sum().reset_index()
grouped.head()

  요일        역명  승차총승객수  하차총승객수
0  금  4.19민주묘지   19959   18821
1  금        가능   36549   35121
2  금      가락시장   99146  103007
3  금   가산디지털단지  344092  356070
4  금        가양  126254  122944

In [35]:
# 요일별 최대 승차 인원 역
top_boarding = grouped.loc[grouped.groupby('요일')['승차총승객수'].idxmax()][['요일', '역명', '승차총승객수']]
top_boarding.head()

     요일    역명  승차총승객수
250   금   서울역  656725
778   목   서울역  563184
1306  수   서울역  467134
1834  월   서울역  446421
2628  일  홍대입구  401673